#slides {
  width: 100vw;
  height: 80vh;
  padding: 20px;
  display: flex;
  gap: 4vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}
#slides::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: var(--hiliteColor);
  opacity: 0.7;
  cursor: pointer;
  position: relative;
  top: -1em;
}
#slides::scroll-button(*):hover,
#slides::scroll-button(*):focus {
  opacity: 1;
}

#slides::scroll-button(*):active {
  translate: 1px 1px;
}

#slides::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}
#slides::scroll-button(left) {
  content: "◄";
  float: left;
}

#slides::scroll-button(right) {
  content: "►";
  float: right;
}
article{
  flex: 0 0 100%;
  scroll-snap-align: center;
  position: relative;
  outline: 10px solid;
}
article:after {
  position: absolute;
  bottom: calc(4rem + 15px);
  right: auto; left: 90%; padding: 5px;
}

article::scroll-marker {
  content: "";
  border: 1px solid var(--hiliteColor);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
article::scroll-marker:focus,
article::scroll-marker:active {
  background-color: var(--hiliteColor);
}
::scroll-marker-group {
  display: flex;
  gap: 0.4em;
  place-content: center;
}