
/* Content */

header {
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  font-size: 2rem;
}
h1 {
  font-size:1.8rem;
  margin-bottom: 0px;
  color: var(--hiliteColor);
}
h2 {
  font-size: 1.6rem;
}
h1:first-child {
  margin-top: 0;
}
h3 {
  font-size: 1.4rem
}
h4, p, li {
  font-size: 1.2rem
}
footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden;
}
footer {
  font-size: 1rem;
  margin: 20px 0 0 30px;
}
a {
  color: var(--hiliteColor);
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
}
a:hover {
  text-decoration: underline;
}
pre, style {
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.4;
  tab-size: 2;
  outline-color: var(--tertiaryColor);
}
.content,
.content input, 
button {
  font-size: 2rem;
}
article:first-child header {
  font-size: 2.5rem;
}
ul {
  margin: 0;
}
li {
    margin-bottom: 10px;
}
p {
  font-size: 2rem;
}
img {
  max-height: 25vh;
  display: block;
  margin: auto;
}