dt, dd {
      color: var(--secondaryColor);
      margin: 0;
      white-space: pre;
      font-family: monospace;
    }
    dd {
      color: var(--textColor);
      margin: -1lh 0 1lh;
    }
    span {
      color: var(--tertiaryColor);
    }
  dl[contenteditable] {
    outline-color: var(--secondaryColor);
    margin: 0;
    font-size: 1.6rem;
  }

