
body {
  font-family: "Raleway", "Open sans", "Trebuchet MS", Arial, Helvetica, sans-serif, 'Droid Sans';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0px; top: 0px;
  background: var(--bgColor);
  color: var(--textColor);
}
#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
}
.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform 1s ease-in-out;
  transform: scale(0.8);
  background-color: var(--bgColor);
}
footer {
  position: absolute; 
  top: 1em; 
  left: 0;
  color: var(--secondaryColor); 
}
