/* all / previous slide */

article {
  transform: translate(100%, 0) scale(0.1) rotate(180deg);
}


/* current slide */

input:checked + label + article {
  //transform: translate(0, 0) scale(1) rotate(0deg);
  transform: none;
}


/* next slide */

input:checked + label + article + 
  input:not(:checked) + label + .slide {
    transform: translate(45%, -50%) scale(0.2) rotate(-90deg);
}


/* create the back button out of a label */

input:checked + label:after {
  content: '« back';
  position:absolute; 
  bottom: 20px; left: 20px;
  width: 5em;
  transform: translatez(0);
  z-index: 5000;
  cursor: pointer;
}


/* create the next button out of a checkbox */

input:checked + 
  label + article + input:not(:checked) {
  visibility: visible;
  position:absolute; 
  bottom: 20px; right: 20px;
  cursor: pointer;
  appearance: none;
  border: none;
  font-size: 1rem;
  width: 5em;

  &:after {
    content: 'next »';
    padding: 0 8px 4px;
    color: var(--bgColor);
    border-radius: 4px;
    background-color: var(--hiliteColor);
    line-height: 2;
    box-shadow: var(--globalShadow);
  }
}


#slides:has(:checked) > h1 {
  display: none;
}

header {
  margin-bottom: 0;
}
section > pre:first-child {
  margin-top: 0;
}
  h1 {
    font-size: 2rem;
    text-align: center; 
    margin-bottom: 1em;
  }
  article a {
    font-size: 1rem; 
    color: var(--tertiaryColor); 
    text-decoration: underline;
  }

  /* show all the inputs in a group */
  input + label::after {
    content: "";
    display: block;
  }
  article {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 20px - 1rem);
    top: 0; left: 0;
    transition: all 0.25s ease-in;
    background-color: var(--bgColor);
  }





  