/* variables */
:root {
--textColor: #090057;
--bgColor: #fffffd;
--hiliteColor: #9900a1;
--tertiaryColor: #cd72aa;
--fourthColor: #e69b55;
--secondaryColor: #ffc600;
--globalShadow: rgb(0 0 0 / 0.3)  0 0 2px 1px;
--showHashTag: false;
}