@forward "vars";
@forward "layout";
@forward "slides_nojs";
@forward "counter";
@forward "content";
@forward "figure";
@forward "print";
@forward "slides_target";
@forward "buttons";
@forward "styleblock";